@import '@/shared/_variables';

.timecard {
  &__container {
    align-items: center;
    background-color: color($colors-main, white);
    border-radius: rem(10px);
    box-shadow: 0 rem(5px) rem(10px) rgba(color($colors-main, black), 0.15);
    display: flex;
    flex-direction: column;
    height: rem(120px);
    justify-content: center;
    padding: rem(10px);
    width: rem(100px);
  }
}