@import '@/shared/_variables';

.section {
  &__timer {
    background-color: color($colors-blue, 100);
    margin-bottom: rem(32px);
    padding: rem(36px) 0;

    &-countdown {
      display: flex;
      justify-content: space-between;
      margin: rem(12px) auto 0;
      max-width: rem(350px);
    }

    &-time-unit {
      .timecard {
        &__container {
          // background-color: color($colors-blue, 100);
        }
      }
    }
  }
}