@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap");

$base-font-size: 62.5%;
$colors-main: (
  light-grey: #F5F5F5,
  grey: #E5E5E5,
  dark-grey: #C4C4C4,
  black: #000,
  black-transparent: rgb(0 0 0 / 20%),
  white: #FFF,
  white-transparent: rgb(255 255 255 / 50%),
);
$colors-blue: (
  100: #B4C6DE,
  300: #98D0E0,
  500: #78BCCF,
  '100T': #B4C6DEBF,
);
$colors-beige: (
  100: #BB927E
);
$colors-pink: (
  100: #EDC0BB,
  300:#FE0180,
);
$colors-red: (
  100: #FF8080,
);
$fonts: (
  title: 'Raleway',
  subtitle: 'Cormorant Garamond',
  content: 'Nunito Sans',
);
$mq: (
  mobile: 320px,
  mobile-large: 375px,
  tablet: 768px,
  laptop: 1025px,
  desktop: 1281px,
  infinity: 1440px,
);

@function get-font($group, $font) {
  @return map-get($group, $font);
}

@function rem($size) {
  @return calc($size / 10px * 1rem);
}

@function color($group, $color) {
  @return map-get($group, $color);
}

@mixin mq($mq-value) {
  @media (min-width: map-get($mq, $mq-value)) {
    @content;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
