@import '@/shared/_variables';

.form-field {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: rem(4px);
}

.form-input{
  border: none;
  border-bottom:  1px solid color($colors-beige, 100);
  border-radius: rem(2px);
  font: rem(18px) get-font($fonts, content) ;
  padding: rem(8px);
  transition: all 0.3s ease-in-out;
  width: 100%;
  
  &::placeholder {
    font-style: italic;
  }
  
  &:focus {
    background-color: color($colors-main, light-grey);
    border-bottom:  1px solid color($colors-blue, 100);
    outline: none;
  }
}

.form-error{
  color: color($colors-red, 100);
  font: rem(14px) get-font($fonts, content);
  margin-left: rem(6px);
}