@import '@/shared/_variables';

.event-info {
  margin: rem(32px) 0 rem(46px);

  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(24px);
    margin: 0 auto;
    margin-top: rem(24px);

  }
}