@import '@/shared/_variables';

.title {
  font-family: get-font($fonts, title-cursive);
  font-weight: 500;

  &--regular {
    font-size: rem(32px);
    margin-bottom: rem(20px);
  }

  &--large {
    font-size: rem(46px)
  }

  &--black {
    color: color($colors-main, black);
  }

  &--white {
    color: color($colors-main, white);
  }

  &--dark-blue {
    color: color($colors-blue, 600);
  }
}